*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.body__container {
    display: flex;
}

.main-content {
    width: 100%;
    background-color: #fafbff;
    padding-top: 41px;
    margin: 0 auto;
}
